@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#simulator{
    width: 100%;
    max-width: 1300px;
    padding: 50px 60px;
    border: 1px solid #264653;
    margin: 100px auto;
    box-shadow: 0 0 3em #264653;
}

h1{
    font-size: 50px;
    font-weight: 700;
    color: #264653;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 2px solid #264653;
}

.cont-flex{
    width: 100%;
    display: flex;
}

.left,
.right{
    width: 50%;
    padding: 40px 20px;
}

h2{
    color: #264653;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 14px;
}

.left p{
    margin-bottom: 30px;
    color: #264653;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group-data.two-columns{
    width: 50%;
    box-sizing: border-box;
}
.group-data.one-column{
    width: 100%;
}

.group-data.three-columns{
    width: 60%;
}

.group-data.four-columns{
    width: 40%;
}

.group-data{
    padding-right: 16px;
}
.group-data label{ 
    display: block;
    margin-bottom: 10px;
    color: #264653;
}
.group-data input,
.group-data select{
    display: block;
    margin-bottom: 30px;
    width: 100%;
} 

form button{
    display: block;
    width: 97%;
    padding: 14px 80px;
    background: #264653;
    color: #f5f8fa;
    border: 1px solid #264653;
    transition: .4s;
    cursor: pointer;
}

form button:hover{
    background: #f5f8fa;
    border: 1px solid #264653;
    color: #264653;
}

input, select{
    padding: 14px 30px;
    background: #f5f8fa;
    border: 0;
    border-bottom: 2px solid #264653;
    outline: none;
}
input::placeholder {
    color: #000; /* Cambia este valor al color que desees */
}

.right .pre-simulation{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img{
    max-width: 80%;
}

.right .post-simulation {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 0 60px;
}

.post-simulation.disabled,
.pre-simulation.disabled {
    display: none;
}

.right .post-simulation h3{
    color: #264653;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
}

.right .post-simulation h3 span{
    color: #264653;
    font-weight: 600;
    font-size: 24px;
}

.right .total{
    background: #264653;
    padding: 30px;
}

.right .total h4{
    font-size: 28px;
    color: #fff;
}

.right .total h2{
    font-size: 36px;
    padding: 14px 0;
    color: #fff;
}

.total p{
    font-weight: 400;
    color: #fff;
}

.total p span{
    font-weight: 600;
}

.notificacion{
    padding: 20px;
    border: 1px solid #264653;
    margin-top: 40px;
}

.notificacion h5{
    font-weight: 400;
}

.notificacion h5 span{
    font-weight: 700;
}

footer {
    border-top: 3px solid #000;
  background: linear-gradient(135deg, #264653);
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

footer a {
  color: #ffffff; 
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #41b4e2; 
}

footer p{
    padding: 4px ;
}